body {
    background-image: url("../imagenes/disneyfondo.jpg");
    background-size: cover;
}
h1 {
    text-align: center;
    font-size: 100px;
    margin-top: 270px;
    color: aqua;
    font-family: disney;
}
@font-face {
    font-family: disney;
    src: url("../fuentes/disney.otf");
}